@import "variables";
@import "mixins";

@keyframes cell-placeholder-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.demo-container {
  .cell-container {
    width: 50vw;
    flex-wrap: wrap;

    @include flex($justify-content: space-between);
    @include margin-top(1);

    @media #{$media-mobile} {
      width: auto;
      padding: 0;
    }

    .cell {
      border: 1px dashed #ccc;
      color: #666;
      width: 150px;
      height: 150px;
      flex-grow: 1;

      @include flex-column();
      @include padding(1, 1);

      &--started {
        justify-content: center;
      }

      &__options-container {
        flex: 1;
        justify-content: space-around;
        align-items: flex-start;

        @include flex-column();

        label {
          @include margin-right(1);
        }
      }

      &__content {
        background-color: #fff;
        text-align: center;
        flex-grow: 1;

        @include flex-column-centered();
      }

      &__placeholder {
        animation-name: cell-placeholder-grow;
        animation-timing-function: linear;
        background-color: #666;
        height: 15px;

        @include flex();
      }
    }
  }
}
